@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  body {
    margin: 0;
    background-color: #020205;
    color: #e2e8f0; /* Manual hex for slate-200 to fix build crash */
    font-family: 'Orbitron', sans-serif !important;
    overflow-x: hidden;
  }
}

/* Hide scrollbar but allow horizontal movement if screen is too small */
.overflow-x-auto {
  scrollbar-width: none;
  -ms-overflow-style: none;
}
.overflow-x-auto::-webkit-scrollbar {
  display: none;
}
