@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  background-color: #020205;
}

body {
  margin: 0;
  font-family: 'Orbitron', sans-serif;
  background: radial-gradient(circle at center, #05050a 0%, #000000 100%);
  color: white;
  overflow-x: hidden;
}

/* Custom glow for the Elite cards */
.elite-card-glow {
  box-shadow: 0 0 20px rgba(6, 182, 212, 0.1);
}
